[package]
name = "tasknet"
version = "0.1.0"
authors = ["[your_name] <[your_email]>"]
edition = "2021"

[dependencies]
ink = { version = "4.2.0", default-features = false }

scale = { package = "parity-scale-codec", version = "3", default-features = false, features = ["derive"] }
scale-info = { version = "2.3", default-features = false, features = ["derive"], optional = true }

poll_market = { path = "poll_market", default-features = false, features = ["ink-as-dependency"] }
#job = { path = "job", default-features = false, features = ["ink-as-dependency"] }

[lib]
name = "tasknet"
path = "lib.rs"

[features]
default = ["std"]
std = [
    "ink/std",
    "scale/std",
    "scale-info/std",
]
ink-as-dependency = []
